<div class="col-md-6 col-md-offset-3">
    <div class="well">
    <h2 class="text-center">About Us</h2>
            <p>Welcome to Dev Match. We are a community of developers, entrepreneurs, and investors who are 
interested  in meeting one another and sharing ideas.</p>

            <p>This application is really an exercise in learning Ruby on Rails. In addition to the basics I learned 
how to validate forms, implement Bootstrap with RoR, implement the Stripe API for payment, install and use the Devise 
Gem to handle users, and much more. If you are interested in hiring me for your next Ruby project drop me
a note at beatawoyen@outlook.com</p>
    </div>
</div>