@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.jumbotron {
    background-image: url("working.png");
    background-size: cover;
    background-color: #eeeeee;
}

.navbar-right {
    margin-left: 1.2em;
}

.well h4 {
    padding: 0em 1.4em;
}

.btn-block {
    width: 66% !important;
    margin: auto;
}

.btn {
    font-size: 1.2em !important;
}

//body {
      // gradient from:  http://uigradients.com
 // background: -webkit-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Chrome 10+, Saf5.1+ */
 // background:    -moz-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* FF3.6+ */
 // background:     -ms-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* IE10 */
 // background:      -o-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Opera 11.10+ */
 // background:         linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* W3C */
 //}
